body {
    padding: 20px;
    background: linear-gradient(to bottom right, #ffaf97, #f5d785, #f8ef73);
}

#grid {
    padding-bottom: 10px;
    border: 3px solid #2b2727;
    border-radius: 5px;
}

table {
    background-color: #4d4d4d;
    border-spacing: 0;
}

td {
    border: 2px solid #ffffff;
    width: 15px;
    height: 15px;
}

span {
    color: rgb(0, 0, 0);
}

#start, #clear, #random, #load {
    padding: .75em;
    border: 3px solid #2b2727;
    border-radius: 5px;    
    background: linear-gradient(to bottom, #e3ffe4, #fdff90, #e3ffe4);
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #ff0022;
}