body {
    padding: 20px;
    background: linear-gradient(to bottom right, #ffaf97, #f5d785, #f8ef73);
}

.header {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#grid {
    padding-bottom: 10px;
}

.ctrl_buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

table {
    background-color: #ffffff;
    border-spacing: 0;
}

td {
    border: 1px solid #2c2a2a;
    width: 10px;
    height: 10px;
}

span {
    color: rgb(0, 0, 0);
}

#start, #clear, #random, #load {
    padding: .85em;
    border: 3px solid #2c2a2a;
    border-radius: 5px;    
    background: linear-gradient(to bottom, #e3ffe4, #fdff90, #e3ffe4);
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #ff0022;
}